<html >
  <head>
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: red;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">Funktioner av {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// Implementera en funktion som tar ett tal multipliserar detta med 12, dividerar 
// med 2 och adderar 6. Returnera sedan detta värde.
// Implementera en funktion som tar ett tal, dividerar med 3 och subtrahera
// 2. Returnera sedan detta värde.
// Låt nu en användare skriva in ett värde. Ge detta värde till den 
// första funktionen. Låt resultatet av denna funktion skickas till den 
// andra funktionen och skriv ut resultatet.
// 
// Din kod nedan för här:  



// Din kod ovan för här

    </script>
  </body>
</html>
