<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: red;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">Variabler för {{id}}</h1>
    <script>
// Namn: {{id}}
// Genom att bara tilldela ett värde från en annan variabel till 
// variabeln e se till att värdet är 32 i variabel e. Kommentera varför
// det har blivit på detta sätt.


const a =24; 
let b = 11;
let c = 7;
b = 1;
c=b+c;
b=a+c;
let d = b+c;
let f=2*b+10;

// Din kod nedan för här

let e;

// Din kod ovan för här

    </script>
  </body>
</html>
