<html >
  <head>
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: red;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">Kan {{id}} räkna?</h1>
    <script>
// Namn: {{id}}
// Skriv kod som beräknar vikten av ett klot. Låt en användare ge dig
// värdet för densiteten och radien. Du kan själv hitta formeln för 
// detta. Skriv ut resultatet, alla värden ska vara i "kg" eller "m".

// Din kod nedan för här

let r = Number(prompt("Vad är radien?"));

console.log("Ingen aning");

// Din kod ovan för här

    </script>
  </body>
</html>
