<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: red;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">Objektifiering av {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// Vi ska skapa ett objekt som innehåller några viktiga egenskaper som 
// beskrivs i variablarna nedan. Gör så att objekted "{{id}}" nedan har 
// egenskaperna med samma namn och värde som variablerna nedan.

let name = "{{id}}";
let age = 75;
let my_school= "HTS";
let muglare = false;

let {{id}} = {muglare:true};

// Din kod nedan för här:



// Din kod ovan för här

    </script>
  </body>
</html>
