<html >
  <head>
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: red;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">"for" för {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// En klassik liten programmerings uppgift är att räkna får på följande 
// viss:
//
// 0 får har inga ben.
// 1 får har 4 ben.
// 2 får har 8 ben.
// 3 får har 12 ben.
// osv.
//
// Gör ett program som gör detta hundra gånger och skriver ut resultatet 
// i consolen. Ditt program ska använda sig av en for-loop på ett bra
// sätt för att lösa uppfiten.

// Din kod nedan för här:



// Din kod ovan för här

    </script>
  </body>
</html>
