<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .blue {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="blue"> Hitta kombinationen </h1>
    <script>
// Namn: {{id}}
// 
// Låt en användare skriva in 4 siffror. Skriv sedan ut samtliga 
// kombinationer som du kan göra med dessat siffror. Om en av 
// kombinationerna är "1224" avsluta med att skriva ut "God Jul".

// Din kod nedan för här:  


// Din kod ovan för här

    </script>
  </body>
</html>
