<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: red;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">date för {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// Vi närmar oss T3:ornas student och den dag då de lämnar HTS. Men hur 
// långt är det kvar? Gör ett program som beräknar hur många dagar det är 
// kvar till studenten för T3:orna.
// Tips: Du kan använda "Date" objekt för att beräkna hur många 
// millisekunder det är kvat till studenten och omvandla det sedan till 
// den tidsenhet du vill med lite vanlig matematik. 

// Din kod nedan för här:  

let my_day = new Date('2019-06-12 15:00:00');
console.log("För vi har tagit studenten!");

// Din kod ovan för här

    </script>
  </body>
</html>
