<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: red;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">date för {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// Låt en användare skriva in ett antal positiva tal. Inläsningen ska 
// avslutas när en användare skriver -1. Ta sedan och addera dessa och
// skriv ut hur många tal som skrivits in och resultatet.

// Din kod nedan för här:  



// Din kod ovan för här

    </script>
  </body>
</html>
