<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .blue {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="blue">"if" för {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// Vi har två knappar för att styra en farlig maskin. Bara om båda 
// knapparna är nedtryckta ska maskinen starta. Låt den ena knappen vara 
// röd och den andra grön. Fråga om dessa är nedtryckta. Du kan själv 
// bestämma hur frågan ska vara utformat. Om och endast om båda är 
// nedtryckta ska maskinen starta, detta markera du genom att skriva ut 
// "kör!". I annat fall ska programmet skriva ut "stop!".

// Din kod nedan för här

let knapp_A = prompt("Är den röda knappen nedtryckt?");

console.log("Brum!");

// Din kod ovan för här

    </script>
  </body>
</html>
