<html >
  <head>
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .blue {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="blue">"for" för {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// En klassik liten programmeringsuppgift är att räkna höns på följande 
// viss:
//
// 0 hönor har inga ben.
// 1 höna har 2 ben.
// 2 hönor har 3 ben.
// 3 hönor har 6 ben.
// osv.
//
// Gör ett program som gör detta hundra gånger och skriver ut resultatet 
// i consolen. Ditt program ska använda sig av en for-loop på ett bra
// sätt för att lösa uppfiten.

// Din kod nedan för här:



// Din kod ovan för här

    </script>
  </body>
</html>
