<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">Säg "Hello" till publiken {{id}}!</h1>
    <script>
// Namn: {{id}}
// Skriv kod som i consolen skriver ut "Hello " och ditt namn. 

// Din kod nedan för här


// Din kod ovan för här

    </script>
  </body>
</html>
