<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .blue {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="blue">Lista med allt från {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// På teknikprogrammet har vi fölajnde inriktningar , "byggare bob"
// trollvetenskap, lekstugan, "klipp och klistra" och vi har även haft 
// "smält och bränn". Gör en lista som innehåller dessa namn i den 
// ordning som presenteras här. Efter det byt plats på den inriktning 
// som är först och "smält och bränn". Efter du gjort detta ska du ta
// namnet på din favorit inriktning och sätta den först. Skriv sedan 
// ut hela listan. 

// Din kod nedan för här:  

let lista = [];

// Din kod ovan för här

    </script>
  </body>
</html>
