<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .blue {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">Variabler för {{id}}</h1>
    <script>
// Namn: {{id}}
// Genom att bara tilldela ett värde från en annan variabel till 
// variabeln e se till att värdet är 9 i variabel e. Kommentera varför
// det har blivit på detta sätt.


const a =3; 
let b = 99;
let c = 5;
b = 2;
c=c-b;
b=b+c;
let d = b+c;
let f=a*c;

// Din kod nedan för här

let e;

// Din kod ovan för här

    </script>
  </body>
</html>
