<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .yellow {
		   color: yellow;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red"> Hitta kombinationen </h1>
    <script>
// Namn: {{id}}
// 
// Låt en användare skriva in 3 bokstäver. Skriv sedan ut samtliga 
// kombinationer som du kan göra med dessat bokstäver. Om en av 
// kombinationerna är "add", "bad" eller "cda" avsluta med att skriva ut 
// "Sesam är öppet".

// Din kod nedan för här:  


// Din kod ovan för här

    </script>
  </body>
</html>
