<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .blue {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">date för {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// Låt en användare skriva in ett antal tal. Inläsningen ska 
// avslutas när en användare skriver in något som inte är ett tal. 
// Ta sedan multiplisera alla tal och addera dessa och skriv ut
// resultatet.

// Din kod nedan för här:  



// Din kod ovan för här

    </script>
  </body>
</html>
