<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .yellow {
		   color: yellow;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="yellow">Variabler för {{id}}</h1>
    <script>
// Namn: {{id}}
// Genom att bara tilldela ett värde från en annan variabel till 
// variabeln e se till att värdet är -1 i variabel g. Kommentera varför
// det har blivit på detta sätt.


const a =3; 
let b = 4;
let c = 5;
c = 2;
b=a;
let d=c+c;
let e = b-a;
let f=a-d;

// Din kod nedan för här

let g;

// Din kod ovan för här

    </script>
  </body>
</html>
