<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .green {
		   color: green;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="green">Lista med allt från {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// På teknikprogrammet har vi fölajnde inriktningar design, lekstugan, 
// trollvetenskap och "byggare bob" och vi har även haft 
// "smält och bränn". Gör en lista som innehåller dessa namn i den 
// ordning som presenteras här. Efter det byt plats på den inriktning 
// som är först och "smält och bränn". Efter du gjort detta ska du ta
// namnet på din favorit inriktning och sätta den först. Skriv sedan 
// ut hela listan. 

// Din kod nedan för här:  

let lista = [];

// Din kod ovan för här

    </script>
  </body>
</html>
