<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .green {
		   color: green;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="green"> Anrop av {{id}}</h1>
    <script>
// Namn: {{id}}
// Låt användaren ange en vinkel i grader. Skriv ut tangens för denna vinkel.
// Tips: Omvandla från grader till radianer gör du med formeln r=v*π/180,
// där v är vinkel och r är radianer.

// Din kod nedan för här

let r = Number(prompt("Vad är vinkeln?"));

console.log("Don't know much trigonometry");

// Din kod ovan för här

    </script>
  </body>
</html>
