<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .yellow {
		   color: yellow;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="yellow">Säg "God dag" till publiken {{id}}!</h1>
    <script>
// Namn: {{id}}
// Skriv kod som i consolen skriver ut "God dag " och ditt namn. 

// Din kod nedan för här


// Din kod ovan för här

    </script>
  </body>
</html>
