<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .yellow {
		   color: yellow;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="yellow">"for" för {{id}}</h1>
    <script>
// Namn: {{id}}
// 
// En klassik liten programmeringsuppgift är att räkna äldre mäniskor 
// på följande viss: 
// (okey, denna uppgift är inte en klassiker, men den är en rolig 
// variant. Sök på "Sfinxens gåta")
//
// 0 gamlingar har 0 ben.
// 1 gamling har 3 ben.
// 2 gamlingar har 6 ben.
// 3 gamlingar har 9 ben.
// osv.
//
// Gör ett program som gör detta hundra gånger och skriver ut resultatet 
// i consolen. Ditt program ska använda sig av en for-loop på ett bra
// sätt för att lösa uppfiten.

// Din kod nedan för här:



// Din kod ovan för här

    </script>
  </body>
</html>
