<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .coral  {
		   color: coral;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="coroal"> Hitta kombinationen </h1>
    <script>
// Namn: {{id}}
// 
// Låt en användare skriva in 3 siffror. Skriv sedan ut samtliga 
// kombinationer som du kan göra med dessat siffror. Om en av 
// kombinationerna är "101", "011" eller "010" avsluta med att skriva ut 
// "Pengarna är dina".

// Din kod nedan för här:  


// Din kod ovan för här

    </script>
  </body>
</html>
