<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
    <style>

    </style>
  </head>
  <body>
	  <p>Ko säger: <strong>?</strong></p>
	  <p>Ko är: <strong>?</strong></p>
	  <p>Kappa säger: <strong>?</strong></p>
	  <p>Kappa är: <strong>?</strong></p>
    <script>
// Namn: {{id}}
// Implementera metoden *say* för ko nedan. Denna metod ska returnera
// "sound" egenskapen. Implmentera sedan *description* metoden i ko. 
// Denna ska returnera en mening som innehåller egenskapen "species" och 
// resultat från "say".
// Se sedan till att kapa får dessa metoder också genom att ta dem ifrån
// ko och ge dem till kappa. 

let ko = {
	species: "ko",
	sound: "muuu",
	say: function() {
		// Skriv om raden nedan
		return "!";
	},
    description: function() {
		// Skriv om raden nedan.
		return "!"
	}
}

let kappa = {
	sound: "buuu",
	species : "demon",
} 

// Modifiera kappa objectet så det är i enlighet med uppgiften beskrivningen ovan.
// Din kod nedan för här


// Din kod ovan för här


window.onload = function() {
   document.getElementsByTagName("strong")[0].innerHTML = ko.say();
   document.getElementsByTagName("strong")[1].innerHTML = ko.description();
   document.getElementsByTagName("strong")[2].innerHTML = ko.say();
   document.getElementsByTagName("strong")[3].innerHTML = ko.description();
}

    </script>
  </body>
</html>
