<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .red {
		   color: red;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="red">{{id}}</h1>
    <button id="button" onclick="onClick()">Byt!</button>
    <script>
// Namn: {{id}}
// Skriv kod så att när någon trycker på knappen "byt" så kommer ditt 
// alias bytas till "****". Om någon trycker på kanppen igen byttes 
// alias tillbaka till namn och så vidare. 

function onClick() {

// Din kod nedan för här

document.getElementById("name").innerHTML = 'krm was here';

// Din kod ovan för här
}

    </script>
  </body>
</html>
