<html >
  <head>
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
    <style>
    li {
		color: red;
	}

    </style>
  </head>
  <body>
    <ol>
       <li>3</li>
       <li>7</li>
       <li>9</li>
       <li>1</li>
       <li>2</li>
       <li>3</li>
       <li>6</li>
    </ol>
    <script>
// Namn: {{id}}
// Du ska använda dig av metoder *push* och *pop* i Array för att lösa 
// dessa uppgifter. Du vill att listan ovan ska vändas upp och ned. Så 
// att det tal som står längst ned kommer överst. Du ska också öka alla 
// talen med ett. Tänk på att bara skriva kod mellan kommentarerna 
// nedan.
// Du måste utgå ifrån att det skulle kunna stå andra tal i listan.


window.onload = function (){
    let my_list_of_number = [];
   
    let i=0; 
    for(let element of document.getElementsByTagName("li")) {
		my_list_of_number[i]=Number(element.innerHTML);
	    i++;
    }
    let my_result=[];

// Din kod nedan för här

    my_list_of_number[0]++;
    my_result = my_list_of_number;
    
// Din kod ovan för här
   
   i=0;
   for(let element of document.getElementsByTagName("li")) {
		element.innerHTML = my_result[i];
		i++; 
    }
}

    </script>
  </body>
</html>
