<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
    <style>
    .red {
		color: red;
	}

    </style>
  </head>
  <body>
    <h1 class="red">Bok</h1>
    <p id="my-bok"></p>
    <script>
// Namn: {{id}}
// Gör en konstruktor som skapar ett object som representerar en bok. 
// Bok ska ha en egenskaper för antal sidor, författare och title. Dessa 
// ska gå att kunna sätta genom att inparametrar till konstruktorn.
// Du ska också göra en metod som kallas "description" som returnerar 
// en string som beskriver objektet. 
//
// Ta sedan och skapa ett objekt ifrån denna konstruktor enligt 
// instruktionerna nedan. 

function bok() {
// Din kod nedan för här


// Din kod ovan för här
};

window.onload = function (){
	// På kodraden nedan ta bort objekt definitionen och ersätt den med ett
	// korrekt anrop till din konstruktor. Du kan själv välja lämpliga 
	// parametrar.
	// Skriv om raden nedan
    let my_bok ={}
    document.getElementById("my-bok").innerHTML = my_bok.description();
}

    </script>
  </body>
</html>
