<html >
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>1</h1>
    <h2>2</h2>
    <h3>3</h3>
    <h4>4</h4>
    <h5>5</h5>
    <h6>6</h6>
    <script>
// Namn: {{id}}
// I koden nedan ska du endast lägga till "{" och "}" för att få den 
// att fungera utan syntax error. För full poäng får du inte använda fler 
// kodblock, dvs. "{" och "}", än du behöver.


window.onload = function (){
// Din kod nedan för här
// Du får bara använda { och }
     let l0 = "A";
     document.getElementsByTagName("h1")[0].innerHTML = l0;
     let l1 = "B";
     document.getElementsByTagName("h2")[0].innerHTML = l1;
     let l0 = "C";
     document.getElementsByTagName("h3")[0].innerHTML = l0;
     let l0 = "Ö";
     let l2 = "D";
     document.getElementsByTagName("h4")[0].innerHTML = l2;
     let l1 = "E";
     document.getElementsByTagName("h5")[0].innerHTML = l1;
     let l1="F";
     document.getElementsByTagName("h6")[0].innerHTML = l1;
// Din kod ovan för här
}

    </script>
  </body>
</html>
