<html>
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
  <head>
    <meta charset="utf-8" />
    <style>
        li {
		   color: red;
        }

    </style>
  </head>
  <body>
    <ol>
       <li id="1s">1s</li>
       <li id="3s">3s</li>
       <li id="15s">15s</li>
    </ol>
    <script>
// Namn: {{id}}
// Skriv kod som updaterar elementet med id "1s" en gång varje 
// sekund. Gör på samma sätt för element "3s" och tre sekunder samt för 
// element "15s" och 15 sekunder. 

window.onload = function (){
    document.getElementById("1s").innerHTML = 0;
    document.getElementById("3s").innerHTML = 0;
    document.getElementById("15s").innerHTML = 0;
    
// Din kod nedför här.
    
    
// Din kod ovanför här.
}
    </script>
  </body>
</html>
