<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        .blue {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name" class="blue">{{id}}</h1>
    <button id="button" onclick="onClick()">Byt!</button>
    <script>
// Namn: {{id}}
// Skriv kod så att när någon trycker på knappen "byt" så kommer ditt 
// namn bytas till "????". Om någon trycker på kanppen igen byttes 
// namn tillbaka till alias och så vidare. 

function onClick() {

// Din kod nedan för här

document.getElementById("name").innerHTML = 'I will never leve HTS!';

// Din kod ovan för här	
}

    </script>
  </body>
</html>
