<html >
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>1</h1>
    <h2>2</h2>
    <h3>3</h3>
    <h4>4</h4>
    <h5>5</h5>
    <h6>6</h6>
    <script>
// Namn: {{id}}
// I koden nedan ska du endast lägga till "{" och "}" för att få den 
// att fungera utan syntax error. För full poäng får du inte använda fler 
// kodblock, dvs. "{" och "}", än du behöver.


window.onload = function (){
// Din kod nedan för här
// Du får bara använda { och }
     let A = "1";
     document.getElementsByTagName("h1")[0].innerHTML = A;
     let B = "2";
     document.getElementsByTagName("h2")[0].innerHTML = B;
     let C = "3";
     document.getElementsByTagName("h3")[0].innerHTML = C;
     let A = "4";
     let B = "5";
     document.getElementsByTagName("h4")[0].innerHTML = B;
     let C = "6";
     document.getElementsByTagName("h5")[0].innerHTML = C;
     let A="7";
     document.getElementsByTagName("h6")[0].innerHTML = A;
// Din kod ovan för här
}

    </script>
  </body>
</html>
