<html >
  <head>
		<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
    <style>
    .yellow {
		color: yellow;
	}
	
	.blue {
		color:blue;
	}
    </style>
  </head>
  <body>
     <ol id="min-lista">
        <li class="red">Test text</li>
     </ol>
    <script>
// Namn: {{id}}
// Du har slarvat med din betyg. För att få tillbaka motiveringen ska
// du skriva "Jag ska göra som mange säger åt mig att göra." 100 
// gånger. Gör det så texten hamnar i ol-elementet ovan som har 
// attributet "id" "min-lista".
// Gör så att den första har stylen "yellow" och den andra 
// "blue" och växla sedan mellan dem.
// **Tips:** Använd document.getElementById() för att får objectet som 
// motsvarar "ol" och sätt sedan egenskapen "innerHTML" i det objektet 
// till en lämplig text som du skapat.
// **Tips:** Har du glömt hur ett "li" ser ut så kan du använda detta:
// "<li class="din-klass">Din text</li>" 

window.onload = function (){

// Din kod nedan för här
	document.getElementById("min-lista").innerHTML = '<li class="yellow">Test igen</li>';
// Din kod ovan för här
}

    </script>
  </body>
</html>
