<html>
  <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
  <head>
    <meta charset="utf-8" />
    <style>
        li {
		   color: red;
        }

    </style>
  </head>
  <body>
    <ol>
       <li id="1s">1s</li>
       <li id="2s">2s</li>
       <li id="12s">12s</li>
    </ol>
    <script>
// Namn: {{id}}
// Skriv kod som updaterar elementet med id "1s" en gång varje 
// sekund. Gör på samma sätt för element "2s" och varanan sekund samt för 
// element "12s" och 12 sekunder. 

window.onload = function (){
    document.getElementById("1s").innerHTML = 0;
    document.getElementById("2s").innerHTML = 0;
    document.getElementById("12s").innerHTML = 0;
    
// Din kod nedför här.
    
    
// Din kod ovanför här.
}
    </script>
  </body>
</html>
