<html >
  <head>
    <!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
    <style>
    .big {
		font-size: 64;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
	}

    </style>
  </head>
  <body>
    <h1 class="big">Test</h1>
    <script>
// Namn: {{id}} - {{name}}
// Det har blivit fel i en text. Du måste ändra den så klart. Ändra 
// funktionen så att "ej" texten försvinner, du kan utgå från "ej" 
// alltid kommer vara på samma ställe i texten. Du ska bara använda 
// split och join metoderna i String och slice metoden i Array.

// Din kod nedan för här
function removeFakeWord(text) {
	// Ändra denna funktion
	return text;
}
// Din kod ovan för här

window.onload = function (){
    let my_text = "{{id}} är ej bäst";
    document.getElementsByTagName("h1")[0].innerHTML = removeFakeWord(my_text);
}

    </script>
  </body>
</html>
