<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
    <style>
    .blue {
		color: blue;
	}

    </style>
  </head>
  <body>
    <h1 class="blue">Tåg</h1>
    <p id="my-car"></p>
    <script>
// Namn: {{id}}
// Gör en konstruktor som skapar ett object som representerar ett tåg. 
// Tåg ska ha en egenskaper för antal vagnar, model och tillverkningsår. Dessa 
// ska gå att kunna sätta genom att inparametrar till konstruktorn. 
// Du ska också göra en metod som kallas "description" som returnerar 
// en string som beskriver objektet. 
// Ta sedan och skapa ett objekt ifrån denna konstruktor enligt 
// instruktionerna nedan. 

function Tåg() {
// Din kod nedan för här


// Din kod ovan för här
};

window.onload = function (){
	// På kodraden nedan ta bort objekt definitionen och ersätt den med ett
	// korrekt anrop till din konstruktor. Du kan själv välja lämpliga 
	// parametrar.
	// Skriv om raden nedan
    let my_train ={} 
    document.getElementById("my-train").innerHTML = my_train.description();
}

    </script>
  </body>
</html>
