body {
    background-color: lightblue;
}

h1 {
    color: red;
}

h3 {
    color: red;
    margin-top: 0;
}

#correction {
  width: auto;
  max-width: 400px;
  border: 5px solid black;
  padding: 2px;
  margin: 10px;
}
