<html >
  <head>
	<!-- {{examination-name}} #{{group-name}}@{{termin}} {{code}}-->
    <meta charset="utf-8" />
        <style>
        h1 {
		   color: blue;
	    }
    </style>
  </head>
  <body>
    <h1 id="name">Summera tal</h1>
    <script>
// Namn: 
// 
// Låt en användare skriva in ett antal positiva tal. Inläsningen ska 
// avslutas när en användare skriver -1. Addera dessa tal och
// skriv ut hur många tal som skrivits in, summan av alla talen samt 
// medelvärdet.

// Din kod nedan för här:  



// Din kod ovan för här

    </script>
  </body>
</html>
